/* COMMONS */
/* resets */
img {
    width: 100%;
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* text & title style */
h2 {
    font-size: 45px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 35px;
}

.common_text_big {
    font-size: 30px;
}

.common_text_medium {
    font-size: 21px;
    font-weight: 600;
    color: grey;
}

.common_text_small {
    font-size: 17px;
}

.text_xsmall {
    font-size: 15px;
}

.text_special {
    text-transform: uppercase;
    color: #0977d0;
    font-weight: bold;
    font-size: 15px;
}

.btn {
    font-size: 15px;
}

.box_banner {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    margin-right: 20px;
    /* test */
    color: white;
}

.img_banner_logo {
    width: 50%;
    margin-bottom: 20px;
}

/* mediaquery */
@media (min-width: 992px) {
    .img_banner_logo {
        width: 20%;
    } 
    .box_banner {
        width: 40%;
    }   
}

.p_box_banner {
    display: inline-block;
    width: 100%;
}

/* HEADER */
/* header top */
.header_top {
    background-color: black;
    height: 35px;
    text-align: right;
    padding: 5px 10px;
}

.box_logo_sony {
    width: 75px;
    height: 100%;
    display: inline-block;
    position: relative;
}

.img_logo_sony {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* header bottom */

.header_bottom {
    margin-top: 10px;
}
.img_logo_playstation {
    width: 50px;
}

.fa-bars {
    color: grey;
    margin: 10px 10px;
}
.border_bars {
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
}

.icon_chevron {
    width: 10px;
}

.navbar_li {
    display: inline-block;
    padding: 0 4px;
}

.navbar_ul {
    display: inline-block;
}

.navbar_li > a {
    color:black;
    font-weight: bold;
}

.btn-secondary {
    background-color: #363636;
}

.icon_lens {
    width: 20px;
    margin-left: 10px;
}

/* jumbotron */
.ms_jumbotron {
    background-image: url('../img/jumbo-bg.png');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/* MAIN */

/* first section */
.ms_presentation > .container > .wrapper_img_ratchet_returnal > .row.row-cols-2.row-cols-sm-3.row-cols-lg-6.g-2> .col > img {
    border-radius: 20px;
    padding: 3px;
    width: 100%;
}

.ms_selected {
   
}
.opacity {
    opacity: .5;
    
}

.row.presentation_row> .col:first-child > img {
    border: 2px solid #0072ce;
}

.ms_presentation {
    margin-top:  30px;
}

.box_presentation_title {
    margin-bottom: 100px;
}

.img_play_acessories {
    width: 50%;
    
}

.wrapper_img_ratchet_returnal {
    margin-bottom: 80px;
}

.img_playstation_console {
    width: 100%;
}
/* second section */
/* banner */
.ms_banner_second_section {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 30px;
}

.box_returnal {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin-bottom: 50px;
    /* test */
    color: white;
}

.img_returnal_logo {
    width: 200px;
    margin-bottom: 20px;
}

/* third section */
.third_section {
    background-color: #1f1f1f;
    color: white;
    padding-bottom: 40px;
}

.third_section_row > .col > img {
    border-radius: 20px;
}

/* fourth section */
/* fifth section */
.ms_banner_third_section {
    position: relative;
    background-color: #bebcbb;
    height: 245.95px;
}

.box_returnal {
    position: absolute;
    bottom: 0;
    width: 80%;
    margin-bottom: 50px;
    /* test */
    color: white;
}

.img_returnal_logo {
    width: 200px;
    margin-bottom: 20px;
}

/* FOOTER */
footer {
    color: white;
}

.row > .col-footer-link > ul.list_link_footer > li > a {
    font-size: 14px;
    color: white;
}
/* bottom footer */
.bottom_footer {
    background-color: #00439c;
    /* height: 600px; */
}

.box_img_play_logo {
    width: 200px;
}

.box_img_sie_logo {
    width: 200px;
}

.icon_globe {
    width: 10px;
}