/* COMMONS */
/* resets */
img {
    width: 100%;
}
a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* text & title style */
h2 {
    font-size: 45px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 35px;
}

.common_text_big {
    font-size: 30px;
}

.common_text_medium {
    font-size: 21px;
    font-weight: 600;
    color: grey;
}

.common_text_small {
    font-size: 17px;
}

.common_text_xsmall {
    font-size: 13px;
}

.text_special {
    text-transform: uppercase;
    color: #0977d0;
    font-weight: bold;
    font-size: 15px;
}

.text_black {
    color: black;
}
.text_white {
    color: white;
}

/* buttons */
.btn {
    font-size: 16px;
    font-weight: 600;
}

/* banners */
/* type 1 */
*[class^="ms_common_type_1_banner"] {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 100px 0;
    background-position-y: 100px;
}

.img_type_1_banner_logo {
    margin-top: 280px;
    width: 60%;
}

/* mediaquery */
@media (max-width: 992px) {
    .common_box_logo {
        width: 60%;
    } 

}

.img_type_2_banner_logo {
    width: 60%;
}

/* mediaquery */
@media (max-width: 768px) {
    .common_box_logo {
        margin: 50px 0;
    }   
}

/* HEADER */
header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}
/* header top */
.header_top {
    background-color: black;
    height: 35px;
    text-align: right;
    padding: 5px 10px;
}

.box_logo_sony {
    width: 75px;
    height: 100%;
    display: inline-block;
    position: relative;
}

.img_logo_sony {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* header bottom */
.header_bottom {
    background-color: white;
    padding-top: 10px;
}

.img_logo_playstation {
    width: 50px;
}

.fa-bars {
    color: grey;
    margin: 10px 10px;
}

.border_bars {
    width: 30px;
    height: 30px;
    border: 1px solid lightgrey;
}

.icon_chevron {
    width: 10px;
}

.navbar_li {
    display: inline-block;
    padding: 0 4px;
}

.navbar_ul {
    display: inline-block;
}

.navbar_li > a {
    color:black;
    font-weight: bold;
}

.btn-secondary {
    background-color: #363636;
}

.icon_lens {
    width: 20px;
    margin-left: 10px;
}

/* MAIN */

/* jumbotron */
*[class*="_jumbotron"] {
    background-image: url("../img/jumbo-bg.png");
}

/* first section */
.ms_presentation > .container > .wrapper_img_ratchet_returnal > .row.row-cols-2.row-cols-sm-3.row-cols-lg-6.g-2> .col > img {
    border-radius: 20px;
    padding: 3px;
    width: 100%;
}

.opacity {
    opacity: .5;
}

.row.presentation_row> .col:first-child > img {
    border: 2px solid #0072ce;
}

.ms_presentation {
    margin-top:  30px;
}

.box_presentation_title {
    margin-bottom: 100px;
}

.img_play_acessories {
    width: 60%;
}

/* mediaquery */
@media (max-width: 767px) {
    .img_play_acessories {
        width: 100%;
    } 
}
.wrapper_img_ratchet_returnal {
    margin-bottom: 80px;
}

.img_playstation_console {
    width: 100%;
}

/* second section */
*[class*="_second_section"] {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* third section */
.third_section {
    background-color: #1f1f1f;
    color: white;
    padding: 40px 0;
}

.third_section_row > .col > img {
    border-radius: 20px;
}

/* fourth section */
.fourth_section {
    margin: 60px 0 100px 0;
}

/* fifth section */
.ms_banner_third_section {
    background-color: #bebcbb;
}

.btn-outline-primary {
    background-color: #d9dadc;
    border: none;
}

*[class*="_fifth_section"] {
    background-color: #bebcbb;
}

/* sixth section */
.sixth_section {
    margin: 80px 0;
}

/* seventh section */
*[class*="_seventh_section"] {
    background-color: #161c3b;
}

/* FOOTER */
footer {
    color: white;
}

.row > .col-footer-link > ul.list_link_footer > li > a {
    font-size: 14px;
    color: white;
}

/* upper footer */
.row_social > .col > img {
    width: 100%;
}

/* mediaquery */
@media (max-width: 576px) {
    .row_social > .col > img {
        width: 90%;
    } 
}

/* bottom footer */
.bottom_footer {
    background-color: #00439c;
    padding: 40px 0 60px 0;
}

.box_img_play_logo {
    width: 200px;
}

.box_img_sie_logo {
    width: 200px;
}

.icon_globe {
    width: 10px;
}

.copyright_footer {
    text-decoration: underline;
}